---
title: About Me
layout: home_variant
---

<div style="background-color: var(--tf-page-bg-color)" class="bg-gradient">
  <div class="container py-3">

    <div class="row">
      <div class="col">
        <h1 class="display-4 text-left pt-2 pb-2">About Me</h1>
      </div>
    </div>

    <div class="row mb-lg-2">
      <div class="col">
        <p class="mb-1 pt-4 pb-4"> I am studying for a B.S. in Game Programming with a minor in Mathematics at the Champlain College. I expect to graduate in Spring, 2023. I've been coding since my sophomore year of high school and have had a passion for it ever since. I've found quite a lot of enjoyment from video game development and I hope to continue to create fun experiences for people around the world. </p>
        <p class="mb-1 pt-4">Outside of coding I'm an casual hiker and enjoy a good swim on a hot day or just any day I can get to a lake or pool. I love to read comic books and enjoy building Lego sets. Tabletop RPGs like Dungeons and Dragons and Starfinder are one of the ways I like to spend my evenings, especially when I get to do it while sitting around a table with friends.</p>
      </div>
      <div class="col">
        <img class="rounded-circle pb-5" src={{ site.data.bio.basics.picture }}>
      </div>
    </div>
    
    <div class="row">
      <div class="col">
        <h3 class="display-4 text-left pt-2 pb-2">Contact Me!</h3>
        
        {% capture url %}{{ site.data.bio.basics.website }}{% endcapture %}
        {% capture label %}{{ site.data.bio.basics.website | remove: "http://" | remove: "https://" }}{% endcapture %}
        <p class="mb-1">{% include about/social.html url=url name='house' label=label %} </p>

        {% capture url %}mailto:{{ site.data.bio.basics.email }}{% endcapture %}
        {% capture label %}{{ site.data.bio.basics.email }}{% endcapture %}
        <p class="mb-1">{% include about/social.html url=url name='envelope' label=label %}</p>

        {% for profile in site.data.bio.basics.profiles %}
          {% capture url %}{{ profile.url }}{% endcapture %}
          {% capture name %}{{ profile.network | downcase }}{% endcapture %}
          {% capture label %}{{ profile.username }}{% endcapture %}
          <p class="mb-1">{% include about/social.html url=url name=name label=label %}</p>
        {% endfor %}
       
        <p class="mb-1">
          <a href="tel:3154399741" class="mb-1">
            <img src="../img/telephone.svg" role="img" alt="Bootstrap" width="24" height="24">
            {{ site.data.bio.basics.phone }}
          </a>
        </p>
      </div>
    </div>
    
    <footer class="fixed-bottom navbar navbar-expand navbar-light bg-light bg-gradient border-top">
      <div class="container-fluid">
        <div class="ms-auto">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <small><a class="nav-link" href="https://techfolios.github.io">Made with Techfolios</a></small>
          </ul>
        </div>
     </div>
    </footer>
    
</div>
