---
title: About Me
layout: home_variant
---

<script type='text/javascript'>
  window.smartlook||(function(d) {
    var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
    var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
    c.charset='utf-8';c.src='https://web-sdk.smartlook.com/recorder.js';h.appendChild(c);
    })(document);
    smartlook('init', '2fb05b8dec724caa0120461df1b0cf9bdc7826d4', { region: 'eu' });
</script>

<div style="background-color: var(--tf-page-bg-color)" class="bg-gradient">
  <div class="container py-3">

    <div class="row">
      <div class="col">
        <h1 class="display-4 text-center pt-2 pb-2">About Me</h1>
      </div>
    </div>

    <div class="row mb-lg-2">
      <div class="col-lg-3">
        <img width="300px" src="{{ site.data.bio.basics.picture }}" class="d-block mx-auto rounded-circle">
      </div>
      <div class="col">
        <p class="mb-1 pt-4 pb-4">I'm a game developer based out of Burlington VT, who originates from Update State New York. Ever since I got into programming when I was in high school, I’ve wanted to make things that entertain and amuse me. If others are also entertained and amused by my creations then I’m even happier. And while I’ve dabbled in many different game programming disciplines, I’ve always enjoyed Gameplay, Systems and UI programming. When I'm not coding, I'm playing Valorant with my friends or diving into a classic like the original Far Cry and Fallout New Vegas. I also enjoy arena shooters like Brotato, single player shooters such as Ravenfield, and sandbox games like Minecraft or Vintage Story.</p>
        <p class="mb-1 pt-4">Outside of coding and games, I'm a casual hiker and I enjoy a good swim on a hot day. I love to read comic books and I’ve been an avid collector for many years. Tabletop RPGs like Dungeons and Dragons and Starfinder are one of the ways I like to spend my evenings, especially when I get to do it while sitting around a table with friends.</p>        
        <h3 class="text-left pt-5 pb-2">Contact Me!</h3>

        {% capture url %}mailto:{{ site.data.bio.basics.email }}{% endcapture %}
        {% capture label %}{{ site.data.bio.basics.email }}{% endcapture %}
        <p class="mb-1">{% include about/social.html url=url name='envelope' label=label %}</p>

        {% for profile in site.data.bio.basics.profiles %}
          {% capture url %}{{ profile.url }}{% endcapture %}
          {% capture name %}{{ profile.network | downcase }}{% endcapture %}
          {% capture label %}{{ profile.username }}{% endcapture %}
          <p class="mb-1">{% include about/social.html url=url name=name label=label %}</p>
        {% endfor %}
       
        <p class="mb-1">
          <a href="tel:3154399741" class="mb-1">
            <img src="../img/telephone.svg" role="img" alt="Bootstrap" width="24" height="24">
            {{ site.data.bio.basics.phone }}
          </a>
        </p>
      </div>
      <div class="col-lg-3">
        <img width="300px" src="https://ianmelvin.github.io/img/dpTeam.jpg" class="d-block mx-auto rounded-circle">
      </div>
    </div>
    
</div>
